.windowStyle {
   /* -fx-background-color: linear-gradient(to bottom, #a7c5e2 100%, #fff ); */
    -fx-background-color: #f5f5f5;
}

.promo {
    -fx-background-color: #2292E4
}

.intro {
    -fx-text-fill: #074f66;
    -fx-font-size: 120;
    -fx-font-weight: bold;
    -fx-font-family: Arial, sans-serif;
}

.intro_highlight {
    -fx-text-fill: #fff;
    -fx-font-size: 120;
    -fx-font-weight: bold;
    -fx-font-family: Arial, sans-serif;
}

.intro_min {
    -fx-text-fill: #2292E4;
    -fx-font-size: 30;
    -fx-font-weight: bold;
    -fx-font-family: Arial, sans-serif;
}

.intro_text {
    -fx-text-fill: #fff;
    -fx-font-size: 28;
    -fx-font-family: Arial, sans-serif;
}

.check-box {
    -fx-text-fill: #2292e4;
    -fx-font-size: 14;
}

.table-view .table-cell {
    -fx-alignment: CENTER-LEFT;
}

.labelStyleGrey {
    -fx-text-fill: grey;
    -fx-font-size: 20;
    -fx-cursor: text;
    -fx-padding: 0 0 0 10;
}

.labelStyleGrey:focused {
    -fx-text-fill: #fff;
}

.labelStyleTitle {
    -fx-text-fill: #4e698a;
    -fx-font-size: 24;
    -fx-font-weight: bold;
    -fx-font-family: 'Loto', arial, sans-serif;
}

.labelStyle {
    -fx-text-fill: #4e698a;
    -fx-font-size: 18;
    -fx-font-family: 'Loto', arial, sans-serif;
}

.labelBorder {
    -fx-border-width: 1px;
    -fx-padding: 0px 3px 0px 5px;
    -fx-border-radius: 2px;
    -fx-border-color: rgba(17,17,17,0.49);
    -fx-text-fill: #728cb7;
    -fx-font-size: 16;
}

.lineStyle {
    -fx-stroke-width: 3;
    -fx-stroke: radial-gradient(focus-distance -100%, center 50% 0%, radius 100%, #fff, #2292e4);
}

.borderStyle {
   /* -fx-background-color: #fff; */
    -fx-background-color: #fff;
    -fx-background-radius: 4px;
    -fx-border-radius: 4px;
    -fx-border-color: #fff;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.borderScrollTest > .viewport {
    -fx-background-color: transparent;
}

.borderScrollTest {
    -fx-background-color: #fff;
    -fx-border-color: #728cb7;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.borderMainStyle {
    -fx-background-color: #fff;
    -fx-background-radius: 4px;
    -fx-border-radius: 4px;
    -fx-border-color: #fff;
}

.buttonMain, .buttonTable {
    -fx-background-color: #728cb7;
    -fx-background-radius: 3px;
    -fx-border-color: #728cb7;
    -fx-border-radius: 3px;
    -fx-font-weight: bold;
    -fx-text-fill: #fff;
    -fx-font-size: 14;
}

.buttonMain:disabled, .buttonTable:disabled {
    -fx-background-color: rgba(166, 181, 201, 0.5),
    linear-gradient(rgba(128, 128, 128, 0.5) 0%, rgba(62, 85, 119, 0.5) 20%, rgba(55, 80, 116, 0.51) 100%),
    linear-gradient(rgba(118, 138, 165, 0.51) 0%, rgba(132, 156, 187, 0.5) 5%, rgba(88, 119, 162, 0.51) 50%, rgba(72, 106, 154, 0.5) 51%, #4a6c9b 100%);
}

.buttonMain:hover, .buttonTable:hover {
    -fx-background-color: #516785;
    -fx-background-radius: 3px;
    -fx-border-radius: 3px;
    -fx-border-color: #516785;
    -fx-text-fill: #fff;
}

.buttonMain:pressed, .buttonTable:pressed {
    -fx-background-color: #364760;
    -fx-text-fill: black;
    -fx-background-radius: 3px;
    -fx-border-radius: 3px;
    -fx-border-color: #364760;
}

.buttonRound {
    -fx-background-color: #728cb7;
    -fx-background-radius: 100;
    -fx-border-color: #728cb7;
    -fx-border-radius: 50;
    -fx-font-family: "Georgia";
    -fx-font-size: 12px;
    -fx-text-fill: #fff;
}

.buttonRound:disabled {
    -fx-background-color: rgba(166, 181, 201, 0.5),
    linear-gradient(rgba(128, 128, 128, 0.5) 0%, rgba(62, 85, 119, 0.5) 20%, rgba(55, 80, 116, 0.51) 100%),
    linear-gradient(rgba(118, 138, 165, 0.51) 0%, rgba(132, 156, 187, 0.5) 5%, rgba(88, 119, 162, 0.51) 50%, rgba(72, 106, 154, 0.5) 51%, #4a6c9b 100%);
}

.buttonRound:hover, .buttonRound:focused {
    -fx-background-color: #516785;
    -fx-border-color: #516785;
    -fx-border-radius: 50;
    -fx-text-fill: #fff;
}

.buttonRound:pressed {
    -fx-background-color: #364760;
    -fx-text-fill: black;
    -fx-border-color: #364760;
}

.borderMenuStyle {
    -fx-background-color: #fff;
    -fx-border-color: #fff;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 3, 0, 0, 0);
}

.borderTest {
    -fx-background-color: #fff;
    -fx-border-color: #728cb7;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.scroll-pane {
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.buttonMenu {
    -fx-background-color: #fff;
    -fx-border-color:#fff;
    -fx-background-radius: 5;
    -fx-padding: 10;
    -fx-font-family: "Arial", sans-serif;
    -fx-font-size: 14;
    -fx-text-fill: #666666;
    -fx-pref-height: 20;
    -fx-text-alignment: center;
    -fx-wrap-text: true;
    -fx-cursor: hand;
}

.buttonMenu:hover{
    -fx-background-color: #2292E4;
    -fx-border-color: #2292E4;
    -fx-border-radius: 5;
    -fx-text-fill: #fff;
    -fx-opacity: 80%;
}

.buttonMenu:pressed {
    -fx-background-color: #2292E4;
    -fx-text-fill: #074F66;
    -fx-border-color: #2292E4;
    -fx-border-radius: 5;
}

.buttonMenu:disabled {
    -fx-opacity: 50%;
}

.text-field, .password-field {
    -fx-prompt-text-fill: rgba(0, 0, 0, 0.57);
    -fx-font-family: Arial;
    -fx-font-size: 14;
    -fx-background-color: linear-gradient(from 50% 0% to 50% 100%, rgba(255, 249, 249, 249), rgb(225, 225, 225));
    -fx-border-color: linear-gradient(from 50% 0% to 50% 100%, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
    -fx-border-radius: 3;
}

.text-area {
    -fx-prompt-text-fill: rgba(0, 0, 0, 0.57);
    -fx-font-family: Arial;
    -fx-font-size: 14;
    -fx-background-insets: 0;
    -fx-background-color: transparent, #fff, transparent, #fff;
}

.text-area:focused {
    -fx-background-insets: 0;
    -fx-background-color: transparent, #fff, transparent, #fff;
}

.text-area .content {
    -fx-background-color: linear-gradient(from 50% 0% to 50% 100%, rgba(255, 249, 249, 249), rgb(225, 225, 225));
    -fx-border-color: linear-gradient(from 50% 0% to 50% 100%, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
    -fx-border-radius: 3;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 1, 0, 1, 1);
}

.text-area:focused .content {
    -fx-background-color: linear-gradient(from 50% 0% to 50% 10%, rgb(225, 225, 225), rgba(255, 249, 249, 249));
    -fx-border-color: linear-gradient(from 50% 0% to 50% 100%, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}

.text-field:focused, .text-area:focused, .combo-box > .text-field:focused, .password-field:focused {
    -fx-background-color: linear-gradient(from 50% 0% to 50% 50%, rgb(225, 225, 225), rgba(255, 249, 249, 249));
    -fx-border-color: linear-gradient(from 50% 0% to 50% 100%, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}

.combo-box {
    -fx-font-family: Arial;
    -fx-font-size: 14;
    -fx-background-color: linear-gradient(from 50% 0% to 50% 100%, rgba(255, 249, 249, 249), rgb(225, 225, 225));
    -fx-border-color: linear-gradient(from 50% 0% to 50% 100%, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
    -fx-border-radius: 3;
}

.combo-box > .text-field {
    -fx-font-family: Arial;
    -fx-font-size: 14;
    -fx-background-color: linear-gradient(from 50% 0% to 50% 100%, rgba(255, 249, 249, 249), rgb(225, 225, 225));
    -fx-border-width: 0px;
    -fx-prompt-text-fill: rgba(0, 0, 0, 0.57);
}

.table-view {
    -fx-font-family: Arial;
    -fx-font-size: 14;
}

.editText {
    -fx-background-color: #fff;
    -fx-border-color: #fff;
    -fx-background-radius: 0px;
    -fx-border-radius: 0px;
}

.userLabel {
    -fx-font-size: 12;
    -fx-text-fill: #666666;
    -fx-cursor: hand;
}

.userLabel:hover {
    -fx-border-color: #666666;
    -fx-border-width: 0px 0px 1px 0px;
}

.userButton {
    -fx-font-size: 11;
    -fx-padding: 0px 2px 0px 2px;
    -fx-background-color: #fff;
    -fx-cursor: hand;
}

.userButton:hover {
    -fx-background-color: #666666;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    -fx-text-fill: #fff;
}

.tableNoEditableStyle .table-row-cell:filled:selected {
    -fx-background: -fx-control-inner-background;
    -fx-background-color: -fx-table-cell-border-color, -fx-background;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-table-cell-border-color: derive(-fx-color, 5%);
}

.tableNoEditableStyle .table-row-cell:odd:filled:selected {
    -fx-background: -fx-control-inner-background-alt;
}

.timerStyle {
    -fx-background-image: url("../image/timer_background.png");
    -fx-background-size: 150;
    -fx-border-color: grey;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.21), 10, 0, 0, 0);
}

.timeLabel {
    -fx-font-size: 20;
    -fx-text-fill: #728cb7;
}

.checkBoxTest .box {
    -fx-background-color: #fff;
    -fx-border-color: rgba(17,17,17,0.49);
    -fx-border-radius: 3px;
}

.checkBoxTest .box .mark {
    -fx-padding: 10px;
}

.checkBoxTest:selected .mark {
    -fx-background-color: #fff;
    -fx-background-size: 25px;
}

.checkBoxTest:selected .box {
    -fx-background-color: rgba(114,140,183,0.63);
}

.checkBoxTestMark .box {
    -fx-background-color: #fff;
    -fx-border-color: rgba(17,17,17,0.49);
    -fx-border-radius: 3px;
}

.checkBoxTestMark .box .mark {
    -fx-padding: 10px;
}

.checkBoxTestMark .mark {
    -fx-padding: 10px;
    -fx-background-color: grey;
}

.checkBoxTestMark:selected .mark {
    -fx-background-color: #fff;
    -fx-background-size: 25px;
}

.checkBoxTestMark:selected .box {
    -fx-background-color: rgba(114,140,183,0.63);
}

.radioButtonTest .radio {
    -fx-border-width: 1px;
    -fx-background-color: #fff;
    -fx-border-color: rgba(17,17,17,0.49);
    -fx-border-radius: 15px;
    -fx-padding: 4px;
}

.radioButtonTest .dot {
    -fx-background-radius: 15px;
    -fx-padding: 8px;
}

.radioButtonTest:selected .dot {
    -fx-background-radius: 10px;
    -fx-padding: 8px;
    -fx-background-color: rgba(114,140,183,0.63);
}

.radioButtonTestDot .radio {
    -fx-border-width: 1px;
    -fx-background-color: #fff;
    -fx-border-color: rgba(17,17,17,0.49);
    -fx-border-radius: 15px;
    -fx-padding: 4px;
}

.radioButtonTestDot .dot {
    -fx-background-radius: 15px;
    -fx-padding: 8px;
    -fx-background-color: grey;
}

.radioButtonTestDot:selected .dot {
    -fx-background-radius: 10px;
    -fx-padding: 8px;
    -fx-background-color: rgba(114,140,183,0.63);
}

.circleTest {
    -fx-fill: #fff;
    -fx-stroke: grey;
    -fx-stroke-width: 1px;
}

.circleTest:hover {
    -fx-fill: #728cb7;
}

.circleTest_last {
    -fx-fill: #5b64b7;
    -fx-stroke: grey;
    -fx-stroke-width: 1px;
}

.circleTest_last:hover {
    -fx-fill: #728cb7;
}

.circleTest_ans {
    -fx-fill: #8db7e1;
    -fx-stroke: grey;
    -fx-stroke-width: 1px;
}

.circleTest_ans:hover {
    -fx-fill: #728cb7;
}

.tab-pane .tab-header-background {
    -fx-background-color: #fff;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-color: radial-gradient(focus-distance -100%, center 50% 0%, radius 100%, #fff, rgba(138, 141, 145, 0.67));
}

.tab-pane {
    -fx-border-style: solid;
    -fx-padding: 1;
    -fx-background-color: #fff;
    -fx-background-radius: 4px;
    -fx-border-radius: 4px;
    -fx-border-color: #fff;
}

.tab-pane {
    -fx-alignment: center;
}

.tab-pane .tab {
    -fx-background-color: #fff;
    -fx-font-family: "Arial", sans-serif;
    -fx-font-size: 13;
    -fx-text-fill: #666666;
}

.tab-pane .tab:hover {
    -fx-background-color: rgba(187, 187, 187, 0.6);
    -fx-background-radius: 5 5 0 0;
}

.tab-pane .tab:hover .tab-label {
    -fx-text-fill: black;
}

.tab-pane .tab:selected {
    -fx-background-color: #2292E4;
    -fx-background-radius: 5 5 0 0;
    -fx-border-color: #2292E4;
    -fx-border-radius: 5 5 0 0;
    -fx-text-fill: #fff;
    -fx-opacity: 80%;
}

.tab-pane .tab:selected .tab-label {
    -fx-text-fill: #fff;
}

.tab-pane .tab-header-background {
    -fx-background-color: #fff;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-color: radial-gradient(focus-distance -100%, center 50% 0%, radius 100%, #fff, rgba(138, 141, 145, 0.67));
}

.tab-pane:left .tab:selected .label {
    -fx-text-fill: #fff;
}


.chart-series-line {
    -fx-stroke: #2292E4;
}

.tooltip {
    -fx-background-color: #fff;
    -fx-text-fill: black;
}


