.windowStyle {
   /* -fx-background-color: linear-gradient(to bottom, #a7c5e2 100%, white ); */
    -fx-background-color: #f5f5f5;
}

.promo {
    -fx-background-color: #2292E4
}

.intro {
    -fx-text-fill: #074f66;
    -fx-font-size: 120;
    -fx-font-weight: bold;
    -fx-font-family: Arial, sans-serif;
}

.intro_highlight {
    -fx-text-fill: #fff;
    -fx-font-size: 120;
    -fx-font-weight: bold;
    -fx-font-family: Arial, sans-serif;
}

.intro_min {
    -fx-text-fill: #2292E4;
    -fx-font-size: 30;
    -fx-font-weight: bold;
    -fx-font-family: Arial, sans-serif;
}

.intro_text {
    -fx-text-fill: #fff;
    -fx-font-size: 28;
    -fx-font-family: Arial, sans-serif;
}

.check-box {
    -fx-text-fill: #2292e4;
    -fx-font-size: 14;
}

.table-view .table-cell {
    -fx-alignment: CENTER-LEFT;
}

.labelStyleGrey {
    -fx-text-fill: grey;
    -fx-font-size: 20;
    -fx-cursor: text;
    -fx-padding: 0 0 0 10;
}

.labelStyleGrey:focused {
    -fx-text-fill: white;
}

.labelStyleTitle {
    -fx-text-fill: #728cb7;
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-font-family: 'Loto', arial, sans-serif;
}

.lineStyle {
    -fx-stroke-width: 3;
    -fx-stroke: radial-gradient(focus-distance -100%, center 50% 0%, radius 100%, #fff, #2292e4);
}

.borderStyle {
   /* -fx-background-color: #fff; */
    -fx-background-color: #fff;
    -fx-background-radius: 4px;
    -fx-border-radius: 4px;
    -fx-border-color: #fff;
}

.scroll-pane {
    -fx-background-color: #fff;
    -fx-border-color: #fff;
}

.borderMainStyle {
    -fx-background-color: #fff;
    -fx-background-radius: 4px;
    -fx-border-radius: 4px;
    -fx-border-color: #fff;
}

.buttonMain, .buttonTable {
    -fx-background-color: #728cb7;
    -fx-background-radius: 3px;
    -fx-border-color: #728cb7;
    -fx-border-radius: 3px;
    -fx-font-weight: bold;
    -fx-text-fill: #fff;
    -fx-font-size: 14;
}

.buttonMain:disabled, .buttonTable:disabled {
    -fx-opacity: 50;
}

.buttonMain:hover, .buttonTable:hover {
    -fx-background-color: #516785;
    -fx-background-radius: 3px;
    -fx-border-radius: 3px;
    -fx-border-color: #516785;
    -fx-text-fill: #fff;
}

.buttonMain:pressed, .buttonTable:pressed {
    -fx-background-color: #364760;
    -fx-text-fill: black;
    -fx-background-radius: 3px;
    -fx-border-radius: 3px;
    -fx-border-color: #364760;
}

.buttonRound {
    -fx-background-color: #728cb7;
    -fx-background-radius: 100;
    -fx-border-color: #728cb7;
    -fx-border-radius: 50;
    -fx-font-family: "Georgia";
    -fx-font-size: 12px;
    -fx-text-fill: #fff;
}

.buttonRound:disabled {
    -fx-background-color: rgba(166, 181, 201, 0.5),
    linear-gradient(rgba(128, 128, 128, 0.5) 0%, rgba(62, 85, 119, 0.5) 20%, rgba(55, 80, 116, 0.51) 100%),
    linear-gradient(rgba(118, 138, 165, 0.51) 0%, rgba(132, 156, 187, 0.5) 5%, rgba(88, 119, 162, 0.51) 50%, rgba(72, 106, 154, 0.5) 51%, #4a6c9b 100%);
}

.buttonRound:hover, .buttonRound:focused {
    -fx-background-color: #516785;
    -fx-border-color: #516785;
    -fx-border-radius: 50;
    -fx-text-fill: #fff;
}

.buttonRound:pressed {
    -fx-background-color: #364760;
    -fx-text-fill: black;
    -fx-border-color: #364760;
}

.borderMenuStyle {
    -fx-background-color: #fff;
    -fx-border-color: #fff;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 3, 0, 0, 0);
}

.borderTest {
    -fx-background-color: white;
    -fx-border-color: #4aa6ea;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 0);
}

.buttonMenu {
    -fx-background-color: #fff;
    -fx-border-color:#fff;
    -fx-background-radius: 5;
    -fx-padding: 10;
    -fx-font-family: "Arial", sans-serif;
    -fx-font-size: 14;
    -fx-text-fill: #666666;
    -fx-pref-height: 20;
    -fx-text-alignment: center;
    -fx-wrap-text: true;
    -fx-cursor: hand;
}

.buttonMenu:hover{
    -fx-background-color: #2292E4;
    -fx-border-color: #2292E4;
    -fx-border-radius: 5;
    -fx-text-fill: white;
    -fx-opacity: 80%;
}

.buttonMenu:pressed {
    -fx-background-color: #2292E4;
    -fx-text-fill: #074F66;
    -fx-border-color: #2292E4;
    -fx-border-radius: 5;
}

.buttonMenu:disabled {
    -fx-opacity: 50%;
}

.text-field, .password-field {
    -fx-prompt-text-fill: rgba(0, 0, 0, 0.57);
    -fx-font-family: Arial;
    -fx-font-size: 14;
    -fx-background-color: linear-gradient(from 50% 0% to 50% 100%, rgba(255, 249, 249, 249), rgb(225, 225, 225));
    -fx-border-color: linear-gradient(from 50% 0% to 50% 100%, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
    -fx-border-radius: 3;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 1, 0, 1, 1);
}

.text-field:focused, .combo-box > .text-field:focused, .password-field:focused {
    -fx-background-color: linear-gradient(from 50% 0% to 50% 50%, rgb(225, 225, 225), rgba(255, 249, 249, 249));
    -fx-border-color: linear-gradient(from 50% 0% to 50% 100%, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}

.combo-box {
    -fx-font-family: Arial;
    -fx-prompt-text-fill: #8B8989;
    -fx-font-size: 14;
    -fx-background-color: linear-gradient(from 50% 0% to 50% 100%, rgba(255, 249, 249, 249), rgb(225, 225, 225));
    -fx-border-color: linear-gradient(from 50% 0% to 50% 100%, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
    -fx-border-radius: 3;
}

.combo-box > .text-field {
    -fx-font-family: Arial;
    -fx-font-size: 14;
    -fx-background-color: linear-gradient(from 50% 0% to 50% 100%, rgba(255, 249, 249, 249), rgb(225, 225, 225));
    -fx-border-width: 0;
}

.table-view {
    -fx-font-family: Arial;
    -fx-font-size: 14;
}

.editText {
    -fx-background-color: white;
    -fx-border-color: white;
    -fx-background-radius: 0px;
    -fx-border-radius: 0px;
}